
img{
    width: 300px;
    height: 300px;
}
#price{
    font-size: 20px;
    font-weight: 500;
    
}
#rating{
    font-size: 18px;
    font-weight: 400;
}
div{
    margin-left: 600px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/