<div style="background-color: blue;margin-left: 20px; margin-top: 6px;" >
    <form action="/action_page.php">
      <label for="fname">login</label>
      <input type="text" id="fname" name="firstname" placeholder="login">
  
      <label for="lname">password</label>
      <input type="text" id="lname" name="lastname" placeholder="password">
      <p>
        <app-click-me></app-click-me>
      </p>
   
    </form>
  </div> 
  
   <div >
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
  
      <label for="country">City</label>
      <select id="country" name="country">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>
      <label for="lname">Address</label>
      <input type="text" id="lname" name="lastname" placeholder="Your address..">
      <label for="lname">Phone</label>
      <input type="text" id="lname" name="lastname" placeholder="Your phone..">
      <label for="lname">username</label>
      <input type="text" id="lname" name="lastname" placeholder="">
      <label for="lname">password</label>
      <input type="text" id="lname" name="lastname" placeholder="">
      <label for="lname">Login</label>
     <br>
    
      <input type="submit" value="Submit">
    </form>
  </div>
  <p>
    <app-click-me></app-click-me>
  </p>

 