<h1>{{category.name}}</h1>
<div *ngFor="let product of products; index as productId">

<div *ngIf="product.categoryId==category.id">
    
    <a  [title]="product.name + ' details'" [routerLink]="['/products', productId]">
    <h3>{{product.name}}</h3>
    </a>
    <img src="{{product.image}}">
    <p *ngIf="product.description">
        {{ product.description }}
    </p>
    <p *ngIf="product.price" id="price">
        Price: {{product.price}} KZT
    </p>
    <p id="rating">
        Rating: {{product.rating}}
    </p>
</div>
</div>