img{
    width: 400px;
    height: 400px;
}
#price{
    font-size: 20px;
    font-weight: 500;
    
}
#rating{
    font-size: 18px;
    font-weight: 400;
}
div{
   margin-left:500px;
}
h3,p,a{
    color:black
}
