
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(10, 10, 10);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(221, 204, 204);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(126, 118, 118);
  }